body {
  background-color: #272B30;
  font-family: cursive;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #32383E;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #25282c;
  border-radius: 20px;
  box-shadow: inset 0 5px 7px rgba(0, 0, 0, 0.8);
}

/** start loading section   */
.loading {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.476);
  z-index: 55555;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*^==============================================*/
/**Header Section & NavBar*/
.header-img img {
  height: 220px;
  object-fit: cover;
  position: relative;
}

.navbar {
  background-color: #3A497B;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 75%;
  margin: -30px auto;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav-item a {
  padding: 10px 5px !important;
  margin: 0 5px !important;
  color: white !important;
  transition: 0.8s ease;
  font-size: 13px;
}

.nav-item a:hover,
.nav-item a:focus,
.nav-item a.active {
  color: #127FB2 !important;
  background-color: transparent;
}

/*^==============================================*/
/**Main Section*/
main .card span {
  font-size: 0.6563rem;
  background-color: #32383E;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
main .card h5 {
font-size: 14px !important; 
}
main .card p {
  color: #929496 !important;
  font-size: 14px !important;
}

main .card {
  background-color: #272B30;
  color: white;
  transition: transform 0.5s;

}

main .card img,
main .card .badge {
  filter: grayscale(0.4);
  transition: filter 0.5s;
}

main .card:hover {
  transform: scale(1.05);
}

main .card:hover img,
main .card:hover .badge {
  filter: grayscale(0);
}

/*^==============================================*/
/**Modal Part*/
.game-details {
  background-color: #27282B;
  min-height: 100vh;

}

.game-details-header {

  h2 {
    font-size: 1.75rem;
    color: white;
    font-weight: 500;
  }

  i {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}

.game-title {
  font-size: 1.75rem;
  color: white;
  font-weight: 500;
}

.game {
  font-size: 1rem;
  font-weight: 400;
  color: white;

  span {
    background-color: #0DCAF0;
    color: black;
  }
}


.card-game .card {
  height: 320px; 
  display: flex;
  flex-direction: column;
}

